.HomeContainer {
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imageHome {
  width: 35%;
}

.gothenburg {
  width: 25rem;
  margin-bottom: -5rem;
}

.imageHeart {
  height: 15rem;
  margin-top: 4rem;
  border-radius: 20rem;
  box-shadow: 0 0 0 0 rgb(255, 0, 0);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
