.videoDiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameContainer {
  height: 100vh;
  background-image: url(/./src/images/sky_day.png);
  overflow: hidden;
}
