.navAbout {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: -2rem;
  padding: 0;
  width: 100%;
}

.navBer {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navyBor {
  text-decoration: underline red;
  color: black;
  margin: 2rem;
  /* animation: fadeIn 5s; */
  font-size: 25px;
  -webkit-transition: font-size 240ms ease-out;
  transition: font-size 240ms ease-out;
}

/* .navyBar:hover {
  color: red;
  font-size: 30px;
  transition: 200ms;
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navyBor:hover {
  font-size: 28px;
  cursor: pointer;
  color: red;
  text-decoration: underline black;
}
