body {
  margin: 0;
  font-family: "yellowdesign";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "yellowdesign";
  src: local("yellowdesign"), url("./fonts/yellowdesign.otf") format("truetype");
  font-weight: bold;
}
